extends layout

block content
  div.smallBox
    h1= title
    p Welcome to #{para}
    p Username you selected is #{uname}
    p Password you selected is #{pass}
    p You chose to turn on 2fa #{twoFa}
